body
{
    margin: 0;
    background:
    radial-gradient(circle at center, #f7ecd2 60%, #d8bf85 100%);
    color: #2F2117;
    font-family: 'Source Serif 4', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}
#site-name
{
    width: 280px;
    height: 55px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;

    background:
    radial-gradient(circle at top,
    #7a1616,
    transparent 60%),
    linear-gradient(
    to bottom,
    #4a0d0d,
    #2b0000);
    margin: 10px auto 10px auto;
}
#gold-text a
{
    font-size: 40px;
    font-style: italic;
    font-family: 'Libre Baskerville';
    font-weight: bolder;
    line-height: 55px;

    background: linear-gradient(
        120deg,
        #3f2a0a,
        #b8962e,
        #f5e27a,
        #fff6c2,
        #d4af37,
        #8a6e2f,
        #3f2a0a
    );

    background-size:150% auto;
    background-clip:text;
    color:transparent;
}
main
{
    width: 1000px;
    height: auto;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
main h1
{
    margin: auto;
    font-family: "Lora", serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    color: #800020
}
main h2
{
    margin: 5px auto;
    font-family: "Lora", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    color: #800020;
}
.book-slider
{
    width: 700px;
    height: 450px;
    margin: 0px auto;
    z-index: 1;
    overflow: visible;

    position: relative;
    border: 2px solid #950101;
    border-radius: 10px;
    background-color: #D8BF85;

    display: flex;
    justify-content: flex-start; 
    padding-left: 40px;
    align-items: center;
}
.audio-slider 
{
    width: 700px;
    height: 350px;
    margin: 0px auto;

    position: relative;
    border: 2px solid #950101;
    border-radius: 10px;
    background-color: #D8BF85;

    display: flex;
    justify-content: flex-start; 
    padding-left: 40px;
    align-items: center;
}
.content 
{
    display: flex;
    align-items: center;
    gap: 40px;
}
.image
{
    width: 250px;
    height: 350px;
    object-fit: cover;
    flex-shrink: 0;

    border-left: 15px solid #950101;
    border-bottom: 15px solid wheat;
    border-radius: 0 10px 10px 0;
}
.pod 
{
    width: 250px;
    height: 250px;
    object-fit: cover;
    flex-shrink: 0;

    border-left: 15px solid #950101;
    border-bottom: 15px solid wheat;
    border-radius: 0 10px 10px 0;
}
.book-info,
.podcast-info 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.book-info p,
.podcast-info p 
{
    margin: 6px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.slider-btn 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #800020;
    box-shadow: 0 0 5px 2px goldenrod;
    border-radius: 50%;
    padding: 5px;
}
.left 
{ left: 10px; 
}
.right 
{ right: 10px; 
}
.slider-btn:hover 
{
    box-shadow: 0 0 10px 4px #daa520;
}
.quotes
{
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    position: relative;
    animation: float 4s ease-in-out infinite;
}
@keyframes float
{
    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-15px);
    }

    100%
    {
        transform: translateY(0px);
    }
}
.quotes img
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
}
.quotes span
{
    font-family: 'Source Serif 4', serif;
    margin-bottom: 20px;
}
footer
{
    width: 100%;
    height: 80px;
    background-color: antiquewhite;
    text-align: center;
}
footer p
{
    margin: 0;
    line-height: 80px;
}
footer p a
{
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    text-decoration: none;
    color: #3f2a0a;
    font-size: large;
    font-weight: bold;
    transition: 0.4s ease;
}
footer p a:hover
{
    color: #7a4b10;
    font-size: 25px;
    text-shadow: 2px 2px 3px rgb(186, 171, 171);
}